<h3>Connect</h3>
<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input ng-model="username" placeholder="your username"></input>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input ng-model="password" placeholder="your password" type="password" style="display:inline-block;"></input>
    </label>
    <button class="item button button-block button-calm" type="submit" ng-click="auth()">connection</button>
</div>

<h3>Or registered</h3>
<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input ng-model="usernameCreate" placeholder="your username"></input>
    </label>
    <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input ng-model="passwordCreate" placeholder="your password" type="password" style="display:inline-block;"></input>
    </label>
    <button type="submit" class="item button button-block button-calm" ng-click="inscription()">registration</button>
</div>
       
        

        
